@font-face {
	font-family:'PlayfairDisplay';
	font-weight:400;
	font-style:normal;
	src:url('../../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/PlayfairDisplay-Bold.otf') format('opentype'),
		url('../../fonts/PlayfairDisplay-Bold.woff') format('woff'),
		url('../../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}


@font-face {
	font-family:'FuturaStd';
	font-weight:700;
	font-style:normal;
	src:url('../../fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
	    url('../../fonts/FuturaStd-Bold.otf') format('opentype'),
	    url('../../fonts/FuturaStd-Bold.woff') format('woff'),
	    url('../../fonts/FuturaStd-Bold.ttf') format('truetype');
}

@font-face {
	font-family:'FuturaStd';
	font-weight:500;
	font-style:normal;
	src:url('../../fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
	    url('../../fonts/FuturaStd-Medium.otf') format('opentype'),
	    url('../../fonts/FuturaStd-Medium.woff') format('woff'),
	    url('../../fonts/FuturaStd-Medium.ttf') format('truetype');
}

@font-face {
	font-family:'FuturaStd';
	font-weight:400;
	font-style:normal;
	src:url('../../fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
	    url('../../fonts/FuturaStd-Book.otf') format('opentype'),
	    url('../../fonts/FuturaStd-Book.woff') format('woff'),
	    url('../../fonts/FuturaStd-Book.ttf') format('truetype');
}