.site-footer {
	position:relative;
	padding:45px 0px 0px;
	z-index:1;
	background:$secondary url('../../images/background.svg') no-repeat center top/cover;
	color:white;

	@include media-breakpoint-up(sm) {
		padding:80px 0px 0px;
	}

	&__nav {
		@include media-breakpoint-up(lg) {
			@include make-col(4.9);
		}

		.menu {
			display:block;
			margin:0px;
			padding:0px;
			list-style:none;
			line-height:lineheight(24,16);

			@include media-breakpoint-up(sm) {
				column-count:2;
				column-gap:30px;
			}

			@include media-breakpoint-down(xs) {
				> li {
					text-align:center;

					> a,
					> span {
						font-size:fontsize(20);
					}

					&:not(.menu-item-social) {
						display:none;
					}
				}
			}

			> li {
				display:block;
				margin:0px 0px 30px;
				padding:0px;
				break-inside:avoid;

				> a,
				> span {
					font-weight:$font-weight-bold;
					text-transform:uppercase;
					color:inherit;
				}
			}

			a {
				transition:color 300ms ease;
				
				@include hover-focus {
					color:$clr-green;
				}
			}

			.menu-item-social {
				.sub-menu {
					display:flex;
					flex-wrap:wrap;
					margin-left:-10px;
					margin-right:-10px;
					margin-bottom:-20px;

					> li {
						padding:0px 10px 20px;

						a {
							display:block;
							width:40px;
							height:40px;
							padding:7px 0px;
							background:#4A81BC;
							text-align:center;
							color:white;
							transition:background 300ms ease;

							@include hover-focus {
								background:$clr-green;
							}
						}

						svg {
							display:inline-block;
							width:26px;
							height:26px;
							fill:currentColor;
						}
					}

					@include media-breakpoint-down(xs) {
						justify-content:center;
						margin-left:-15px;
						margin-right:-15px;
						margin-bottom:-30px;

						> li {
							padding:0px 15px 30px;
						}
					}
				}
			}
		}

		.sub-menu {
			display:block;
			margin:20px 0px 0px;
			padding:0px;
			list-style:none;

			> li {
				display:block;
				margin:0px;
				padding:2px 0px;

				> a {
					color:inherit;
				}
			}
		}
	}

	&__cta {
		@extend %cta-button;
		width:100%;
		margin-top:20px;
	}

	&__offices {
		h5 {
			font-size:inherit;
			font-weight:$font-weight-bold;
			text-transform:uppercase;
		}

		@include media-breakpoint-up(lg) {
			@include make-col(7.1);
		}

		@include media-breakpoint-up(xl) {
			padding-right:140px;
		}

		@include media-breakpoint-down(xs) {
			margin-bottom:45px;
			text-align:center;

			h5 {
				font-size:fontsize(20);
			}
		}
	}

	&__office {
		&__inner {
			margin-bottom:5px;
			padding-top:30px;
			padding-bottom:20px;
			border-bottom:1px solid $clr-lightblue;
		}

		h6 {
			font-weight:$font-weight-bold;
			color:$primary;
		}

		a {
			color:inherit;
			text-decoration:none !important;

			&[href*="mailto:"] {
				text-decoration:underline !important;
			}
		}

		@include media-breakpoint-up(sm) {
			&__inner {
				margin-bottom:15px;
				padding-top:15px;
				padding-bottom:35px;
				border-bottom-width:2px;
				line-height:lineheight(24,16);
			}
		}

		@include media-breakpoint-down(xs) {
			&__inner {
				font-size:fontsize(18);
				line-height:lineheight(35,20);
			}
		}
	}
}

.site-subfooter {
	margin-top:50px;
	padding:12px 0px;
	background:rgba(black, 0.45);
	font-size:fontsize(13);

	@include media-breakpoint-up(sm) {
		margin-top:90px;
		padding:26.5px 0px;
	}

	@include media-breakpoint-down(xs) {
		.container {
			display:flex;
			flex-wrap:wrap;
		}
	}

	p {
		display:inline-block;
		margin:0px auto 0px 0px;

		@include media-breakpoint-up(sm) {
			margin-right:48px;
		}
	}

	.menu {
		display:inline-block;
		margin:0px;
		padding:0px;
		list-style:none;

		li {
			display:inline-block;
			margin:0px;
			padding:0px;
		}

		a {
			font-weight:$font-weight-bold;
			color:inherit;
			text-decoration:underline;
			transition:color 300ms ease;

			@include hover-focus {
				color:$clr-green;
			}
		}

		@include media-breakpoint-up(sm) {
			li {
				margin-right:24px;
			}
		}

		@include media-breakpoint-down(xs) {
			li {
				margin-left:12px;
			}
		}
	}
}