.site-header {
	position:relative;
	z-index:100;

	&__top {
		position:relative;
		z-index:1;
		background:$secondary url('../../images/background.svg') no-repeat center top/cover;
		color:white;

		.container {
			display:flex;
			align-items:center;
			position:relative;

			@include media-breakpoint-down(sm) {
				max-width:100%;
				padding:10px 15px;
			}
		}
	}

	&__logo {
		display:block;
		position:relative;
		width:110.5px;
		margin-right:auto;

		img {
			width:100%;
			height:auto;
		}

		@include media-breakpoint-up(md) {
			width:200px;
			height:0px;

			img {
				position:absolute;
				top:0px;
				left:0px;
			}
		}

		@include media-breakpoint-only(sm) {
			width:150px;
		}
	}

	&__link {
		@extend .btn;
		@extend .btn-primary;
		margin-left:15px;
		padding:8px 10px;
		line-height:28px;

		span{
			padding: 0px 10px;
		}

		@include media-breakpoint-up(md) {
			margin-left:40px;
		}

		@include media-breakpoint-only(sm) {
			margin-left:30px;

			img {
				width:40px;
				height:40px;
			}
		}
	}

	&__menu-toggle {
		display:block;
		width:50px;
		height:30px;
		margin:0px 0px 0px 15px;
		padding:0px;
		border:none;
		border-radius:0px;
		background:transparent;

		img:last-child {
			position:relative;
			top:-8px;
		}

		@include media-breakpoint-up(md) {
			position:absolute;
			top:100%;
			right:0px;
			margin:20px 15px;
		}

		@include media-breakpoint-up(xl) {
			display:none;
		}

		@include media-breakpoint-only(sm) {
			margin-left:30px;
		}
	}

	&__bottom {
		position:relative;

		@include media-breakpoint-up(md) {
			border-bottom:3px solid $primary;
			background:white;

			.container {
				height:83px;
				margin-bottom:-3px;

				@include media-breakpoint-up(xl) {
					display:flex;
					align-items:flex-end;
					justify-content:flex-end;
				}
			}
		}

		.menu {
			display:block;
			margin:0px;
			padding:0px;
			list-style:none;

			> li {
				display:block;
				margin:0px;
				padding:0px;

				> a {
					display:block;
					font-weight:$font-weight-bold;
					text-transform:uppercase;
					color:$secondary;

					&:after {
						content:'';
						display:block;
						width:100%;
						height:2px;
						background:$primary;
					}
				}
			}

			@include media-breakpoint-up(xl) {
				> li {
					display:inline-block;
					position:relative;

					> a {
						display:inline-block;
						padding:16px 20px 0px;

						&:after {
							height:3px;
							margin-top:16px;
						}
					}

					&.current-menu-parent > a,
					&.current-menu-item > a {
						color:$primary;
					}

					@include hover-focus {
						> a {
							background:$secondary;
							color:white;
						}

						.sub-menu {
							display:block;
						}
					}
				}
			}

			@include media-breakpoint-down(lg) {
				position:absolute;
				top:100%;
				left:0px;
				z-index:-1;
				width:100%;
				padding:10px 0px;
				background:$secondary;
				font-size:fontsize(20);
				color:white;
				transform:translate(0, -100%);
				transition:transform 300ms ease;

				body.menu-open & {
					transform:translate(0, 0);
				}

				> li {
					display:block;
					padding:0px 10px 10px;

					> a {
						padding:10px 0px 0px;
						font-weight:$font-weight-bold;
						color:white;

						&:after {
							margin-top:10px;
						}

						@include hover-focus {
							color:$primary;
						}
					}
				}
			}
		}

		.sub-menu {
			display:block;
			margin:0px;
			padding:20px 0px 0px;
			list-style:none;

			> li {
				display:block;
				margin:0px;
				padding:8px 0px;

				> a {
					text-transform:uppercase;
					color:white;

					@include hover-focus {
						color:$primary;
					}
				}
			}

			@include media-breakpoint-up(xl) {
				display:none;
				position:absolute;
				top:100%;
				left:0px;
				width:260px;
				padding:15px 0px;
				background:$secondary;
				color:white;

				> li {
					padding:13px 20px;
				}
			}
		}
	}
}



// SPECIAL CASE FOR WHEN WP ADMIN BAR IS VISIBLE AND HEADER IS FIXED
/*body.admin-bar {
	header {
		top:32px;

		@media screen and (max-width:782px) {
			top:46px;
		}

		@media screen and (max-width:$screen-xs-max) {
			top:0px;
		}
	}
}*/