#enquire-popup,
#enquire-popup-thankyou {

	.modal-body {
		padding: rem(10);

		h2 {
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			color: $clr-blue;
			font-size: fontsize(32);
			margin-bottom: rem(20);
		}

		h3 {
			color: $black;
			font-size: fontsize(20);
			font-weight: $font-weight-bold;
			margin-top: 0;
		}

		p {
			color: $clr-blue;
			font-style: italic;

			a {
				margin:0px;
				font-style: normal;
			}
		}

		em {
			color: $clr-blue;
		}

		a {
			text-decoration: underline;
			display: block;
			margin-top: rem(15);
		}
	}
}

#enquire-popup {

	.selling-agents__form {
		margin-bottom: 0;

		&__intro {
			padding: rem(20);
		}

		.agent-selector {

			&__agent {
				list-style: none;
				display: flex;
				flex-wrap: nowrap;
				padding: rem(10) rem(20);
				cursor: pointer;
				transition: $transition-base;

				&__picture {
					width: rem(100);
					flex-basis: rem(100);
					min-width: rem(100);
					max-width: rem(100);

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				&__details {
					padding-left: rem(20);
					display: flex;
					flex-wrap: wrap;
					align-content: center;

					p {
						font-style: normal;
						width: 100%;
						flex-basis: 100%;
					}

					[data-agent=name] {
						font-weight: $font-weight-bold;
					}

					[data-agent=office] {
					}
				}

				&--selected {
					border-top: 1px solid #D8D8D8;
					border-bottom: 1px solid #D8D8D8;
					padding: rem(20) 0;
					margin: 0 rem(20);
				}
			}

			&__picker {
				position: relative;
				padding: rem(20) 0;

				&:before,
				&:after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					transition: $transition-base;
				}

				&:before {
					background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
					height: 40%;
					top: 0;
					left: -(rem(10));
					right: -(rem(10));
					z-index: 10;
				}

				&:after {
					box-shadow: 0 3px 6px -3px rgba(#0F0F0F, 0.7);
					height: 100%;
					bottom: 0;
					z-index: 1;
				}

				ul {
					padding-left: 0;
					position: relative;
					z-index: 200;

					.agent-selector__agent {

						@include hover-focus-active {
							background: $light-green;
						}
					}
				}
			}
		}

		&__fields {
			padding: rem(30) rem(20) rem(20);

			p {
				margin-bottom: rem(30);
			}
		}
	}
}

#enquire-popup-thankyou {

	.modal-content {
		padding: rem(50) rem(20);
	}
}