.gallery {
	@include make-row();

	> .gallery-item {
		@include make-col-ready();
		margin:0px;
		padding-top:$grid-gutter-width*0.5;
		padding-bottom:$grid-gutter-width*0.5;

		img {
			width:100%;
			height:auto;
			margin:0px;
			border:none;
		}
	}

	> br {
		display:none;
	}

	// Stack all on mobile
	@include media-breakpoint-down(xs) {

		@for $i from 1 through 9 {
			&-columns-#{$i} {
				> .gallery-item {
					@include make-col(12);
				}
			}
		}
	}


	@include media-breakpoint-up(md) {

		&-columns-1 {
			> .gallery-item {
				@include make-col(12);
			}
		}

		&-columns-2 {
			> .gallery-item {
				@include make-col(6);
			}
		}

		&-columns-3 {
			> .gallery-item {
				@include make-col(4);
			}
		}

		&-columns-4 {
			> .gallery-item {
				@include make-col(3);
			}
		}

		&-columns-5 {
			> .gallery-item {
				@include make-col(1, 5);
			}
		}

		&-columns-6 {
			> .gallery-item {
				@include make-col(2);
			}
		}

		&-columns-7 {
			> .gallery-item {
				@include make-col(1, 7);
			}
		}

		&-columns-8 {
			> .gallery-item {
				@include make-col(1, 8);
			}
		}

		&-columns-9 {
			> .gallery-item {
				@include make-col(1, 9);
			}
		}
	}
}