.newsletter-signup__form {
	.nf-response-msg,
	.html-container {
		h4 {
			font-size:fontsize(31);
		}

		h5 {
			+ p {
				margin-top:-20px;

				@media screen and (max-width:$screen-sm-max) {
					margin-top:0px;
				}
			}
		}
	}
}