.table {
	display: block;

	@include media-breakpoint-up(md) {
		display: table;
	}

	tbody,
	tr,
	td {
		display:block;
	}

	tr {
		@include media-breakpoint-up(md) {
			display: table-row;
		}
	}

	th,
	td {
		border-top:none;
		border-bottom:$table-border-width solid $table-border-color;

		@include media-breakpoint-up(md) {
			display: table-cell;
		}
	}

	th {
		border-color:$clr-green;
		border-bottom-width:$table-border-width;
		text-transform:uppercase;
		color:$clr-blue;
	}

	&-hover {
		tbody {
			tr:hover {
				@include media-breakpoint-down(sm) {
					background-color:inherit;
					color:inherit;
				}
			}
		}
	}

	/** Pseudo-tables that collapse on mobile,
	 and can have the whole row be a link */
	.tr {
		@extend tr;
		padding: $table-cell-padding;
		padding-left: 0;
		padding-right: 0;
		border-bottom: $table-border-width solid $table-border-color;
		color: inherit;

		@include media-breakpoint-up(md) {
			padding: 0;
		}

		span {
			font-weight:$font-weight-bold;
		}
	}

	a.tr {
		@include hover-focus-active {
			background: $light-green;
		}
	}

	.th {
		@extend th;
	}

	.td {
		@extend td;
		padding:0.35rem 0;
		border: 0;

		@include media-breakpoint-up(md) {
			padding: $table-cell-padding;
			border-bottom:$table-border-width solid $table-border-color;
		}
	}

	.th, .td {
		@include media-breakpoint-up(md) {
			display: table-cell;
		}
	}
	/** end pseudo-tables */
}